body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:922px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1222 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1223 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u1224 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u1225 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:10px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1226 {
  position:absolute;
  left:294px;
  top:5px;
  width:20px;
  height:10px;
}
#u1227 {
  position:absolute;
  left:2px;
  top:-3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:10px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1228 {
  position:absolute;
  left:294px;
  top:5px;
  width:14px;
  height:10px;
}
#u1229 {
  position:absolute;
  left:2px;
  top:-3px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1230 {
  position:absolute;
  left:277px;
  top:2px;
  width:27px;
  height:13px;
  font-size:10px;
}
#u1231 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u1232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u1232 {
  position:absolute;
  left:258px;
  top:3px;
  width:13px;
  height:13px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1233 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u1234 {
  position:absolute;
  left:239px;
  top:3px;
  width:13px;
  height:13px;
}
#u1235 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1236 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u1237 {
  position:absolute;
  left:16px;
  top:5px;
  width:1px;
  height:10px;
}
#u1238 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:9px;
}
#u1239 {
  position:absolute;
  left:13px;
  top:7px;
  width:1px;
  height:8px;
}
#u1240 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:7px;
}
#u1241 {
  position:absolute;
  left:10px;
  top:9px;
  width:1px;
  height:6px;
}
#u1242 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:5px;
}
#u1243 {
  position:absolute;
  left:7px;
  top:11px;
  width:1px;
  height:4px;
}
#u1244 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:3px;
}
#u1245 {
  position:absolute;
  left:5px;
  top:13px;
  width:1px;
  height:2px;
}
#u1246 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1247 {
  position:absolute;
  left:25px;
  top:2px;
  width:32px;
  height:13px;
  font-size:10px;
}
#u1248 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u1249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u1249 {
  position:absolute;
  left:0px;
  top:18px;
  width:320px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1250 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u1251 {
  position:absolute;
  left:124px;
  top:30px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u1252 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:171px;
}
#u1253 {
  position:absolute;
  left:0px;
  top:61px;
  width:320px;
  height:170px;
  font-size:14px;
}
#u1254 {
  position:absolute;
  left:2px;
  top:77px;
  width:316px;
  word-wrap:break-word;
}
#u1255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u1255 {
  position:absolute;
  left:140px;
  top:215px;
  width:5px;
  height:5px;
}
#u1256 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u1257 {
  position:absolute;
  left:147px;
  top:215px;
  width:5px;
  height:5px;
}
#u1258 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u1259 {
  position:absolute;
  left:154px;
  top:215px;
  width:5px;
  height:5px;
}
#u1260 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u1261 {
  position:absolute;
  left:162px;
  top:215px;
  width:5px;
  height:5px;
}
#u1262 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u1263 {
  position:absolute;
  left:169px;
  top:215px;
  width:5px;
  height:5px;
}
#u1264 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u1265 {
  position:absolute;
  left:176px;
  top:215px;
  width:5px;
  height:5px;
}
#u1266 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:267px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1267 {
  position:absolute;
  left:1px;
  top:241px;
  width:318px;
  height:267px;
}
#u1268 {
  position:absolute;
  left:2px;
  top:126px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1269 {
  position:absolute;
  left:134px;
  top:378px;
  width:52px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1270 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1271 {
  position:absolute;
  left:136px;
  top:408px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1272 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1273 {
  position:absolute;
  left:27px;
  top:408px;
  width:85px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1274 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1275 {
  position:absolute;
  left:27px;
  top:382px;
  width:9px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1276 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u1277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1277 {
  position:absolute;
  left:209px;
  top:408px;
  width:85px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1278 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1279 {
  position:absolute;
  left:228px;
  top:382px;
  width:61px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1280 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1281 {
  position:absolute;
  left:27px;
  top:321px;
  width:40px;
  height:40px;
}
#u1282 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1283 {
  position:absolute;
  left:249px;
  top:321px;
  width:40px;
  height:40px;
}
#u1284 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1285 {
  position:absolute;
  left:130px;
  top:301px;
  width:60px;
  height:60px;
}
#u1286 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u1287 {
  position:absolute;
  left:27px;
  top:263px;
  width:97px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u1288 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1289 {
  position:absolute;
  left:269px;
  top:263px;
  width:25px;
  height:25px;
  color:#FFFFFF;
}
#u1290 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u1291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:45px;
}
#u1291 {
  position:absolute;
  left:27px;
  top:448px;
  width:267px;
  height:45px;
  font-size:16px;
  color:#FFFFFF;
}
#u1292 {
  position:absolute;
  left:2px;
  top:13px;
  width:263px;
  word-wrap:break-word;
}
#u1294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:49px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1294 {
  position:absolute;
  left:1px;
  top:518px;
  width:318px;
  height:49px;
}
#u1295 {
  position:absolute;
  left:2px;
  top:16px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1296 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1297 {
  position:absolute;
  left:105px;
  top:522px;
  width:28px;
  height:28px;
  font-size:12px;
}
#u1298 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u1299 {
  position:absolute;
  left:90px;
  top:548px;
  width:60px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u1300 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u1301 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1302 {
  position:absolute;
  left:188px;
  top:523px;
  width:25px;
  height:25px;
  font-size:12px;
  color:#33475F;
}
#u1303 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#33475F;
  text-align:center;
}
#u1304 {
  position:absolute;
  left:170px;
  top:548px;
  width:60px;
  height:15px;
  font-size:12px;
  color:#33475F;
  text-align:center;
}
#u1305 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u1306 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1307 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1308 {
  position:absolute;
  left:268px;
  top:523px;
  width:24px;
  height:24px;
  font-size:12px;
}
#u1309 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u1310 {
  position:absolute;
  left:251px;
  top:547px;
  width:60px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u1311 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u1312 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1313 {
  position:absolute;
  left:27px;
  top:523px;
  width:25px;
  height:25px;
  font-size:12px;
}
#u1314 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u1315 {
  position:absolute;
  left:9px;
  top:548px;
  width:60px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u1316 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u1317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1317 {
  position:absolute;
  left:123px;
  top:250px;
  width:13px;
  height:3px;
}
#u1318 {
  position:absolute;
  left:2px;
  top:-6px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1319 {
  position:absolute;
  left:139px;
  top:250px;
  width:13px;
  height:3px;
}
#u1320 {
  position:absolute;
  left:2px;
  top:-6px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1321 {
  position:absolute;
  left:154px;
  top:250px;
  width:13px;
  height:3px;
}
#u1322 {
  position:absolute;
  left:2px;
  top:-6px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1323 {
  position:absolute;
  left:170px;
  top:250px;
  width:13px;
  height:3px;
}
#u1324 {
  position:absolute;
  left:2px;
  top:-6px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1325 {
  position:absolute;
  left:185px;
  top:250px;
  width:13px;
  height:3px;
}
#u1326 {
  position:absolute;
  left:2px;
  top:-6px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u1327 {
  position:absolute;
  left:2px;
  top:365px;
  width:15px;
  height:20px;
}
#u1328 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u1329 {
  position:absolute;
  left:299px;
  top:365px;
  width:15px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1330 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1331 {
  position:absolute;
  left:288px;
  top:30px;
  width:22px;
  height:22px;
}
#u1332 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1333 {
  position:absolute;
  left:280px;
  top:570px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u1333_seg0 {
  position:absolute;
  left:-7px;
  top:9px;
  width:93px;
  height:12px;
  -webkit-transform:rotate(18deg);
  -moz-transform:rotate(18deg);
  -ms-transform:rotate(18deg);
  transform:rotate(18deg);
}
#u1333_seg1 {
  position:absolute;
  left:76px;
  top:19px;
  width:93px;
  height:12px;
  -webkit-transform:rotate(-4deg);
  -moz-transform:rotate(-4deg);
  -ms-transform:rotate(-4deg);
  transform:rotate(-4deg);
}
#u1334 {
  position:absolute;
  left:30px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u1335 {
  position:absolute;
  left:445px;
  top:582px;
  width:169px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u1336 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u1337 {
  position:absolute;
  left:200px;
  top:570px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u1337_seg0 {
  position:absolute;
  left:-17px;
  top:35px;
  width:183px;
  height:23px;
  -webkit-transform:rotate(27deg);
  -moz-transform:rotate(27deg);
  -ms-transform:rotate(27deg);
  transform:rotate(27deg);
}
#u1337_seg1 {
  position:absolute;
  left:149px;
  top:48px;
  width:192px;
  height:26px;
  -webkit-transform:rotate(-17deg);
  -moz-transform:rotate(-17deg);
  -ms-transform:rotate(-17deg);
  transform:rotate(-17deg);
}
#u1338 {
  position:absolute;
  left:106px;
  top:72px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1339 {
  position:absolute;
  left:294px;
  top:471px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u1339_seg0 {
  position:absolute;
  left:-5px;
  top:-9px;
  width:198px;
  height:21px;
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  -ms-transform:rotate(4deg);
  transform:rotate(4deg);
}
#u1339_seg1 {
  position:absolute;
  left:163px;
  top:44px;
  width:116px;
  height:29px;
  -webkit-transform:rotate(63deg);
  -moz-transform:rotate(63deg);
  -ms-transform:rotate(63deg);
  transform:rotate(63deg);
}
#u1340 {
  position:absolute;
  left:138px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u1341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u1341 {
  position:absolute;
  left:425px;
  top:367px;
  width:120px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u1342 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u1343 {
  position:absolute;
  left:314px;
  top:375px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u1343_seg0 {
  position:absolute;
  left:-5px;
  top:-12px;
  width:65px;
  height:10px;
  -webkit-transform:rotate(-11deg);
  -moz-transform:rotate(-11deg);
  -ms-transform:rotate(-11deg);
  transform:rotate(-11deg);
}
#u1343_seg1 {
  position:absolute;
  left:51px;
  top:-12px;
  width:65px;
  height:10px;
  -webkit-transform:rotate(11deg);
  -moz-transform:rotate(11deg);
  -ms-transform:rotate(11deg);
  transform:rotate(11deg);
}
#u1344 {
  position:absolute;
  left:6px;
  top:-19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1345 {
  position:absolute;
  left:320px;
  top:146px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u1345_seg0 {
  position:absolute;
  left:-7px;
  top:-25px;
  width:153px;
  height:17px;
  -webkit-transform:rotate(-10deg);
  -moz-transform:rotate(-10deg);
  -ms-transform:rotate(-10deg);
  transform:rotate(-10deg);
}
#u1345_seg1 {
  position:absolute;
  left:136px;
  top:-22px;
  width:150px;
  height:15px;
  -webkit-transform:rotate(12deg);
  -moz-transform:rotate(12deg);
  -ms-transform:rotate(12deg);
  transform:rotate(12deg);
}
#u1346 {
  position:absolute;
  left:90px;
  top:-42px;
  width:100px;
  word-wrap:break-word;
}
#u1347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1347 {
  position:absolute;
  left:602px;
  top:0px;
  width:320px;
  height:568px;
}
#u1348 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1350 {
  position:absolute;
  left:602px;
  top:0px;
  width:320px;
  height:568px;
}
#u1351 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u1352 {
  position:absolute;
  left:602px;
  top:0px;
  width:320px;
  height:20px;
}
#u1353 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:10px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1354 {
  position:absolute;
  left:896px;
  top:5px;
  width:20px;
  height:10px;
}
#u1355 {
  position:absolute;
  left:2px;
  top:-3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:10px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1356 {
  position:absolute;
  left:896px;
  top:5px;
  width:14px;
  height:10px;
}
#u1357 {
  position:absolute;
  left:2px;
  top:-3px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1358 {
  position:absolute;
  left:879px;
  top:2px;
  width:27px;
  height:13px;
  font-size:10px;
}
#u1359 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u1360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u1360 {
  position:absolute;
  left:860px;
  top:3px;
  width:13px;
  height:13px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1361 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u1362 {
  position:absolute;
  left:841px;
  top:3px;
  width:13px;
  height:13px;
}
#u1363 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1364 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u1365 {
  position:absolute;
  left:618px;
  top:5px;
  width:1px;
  height:10px;
}
#u1366 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:9px;
}
#u1367 {
  position:absolute;
  left:615px;
  top:7px;
  width:1px;
  height:8px;
}
#u1368 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:7px;
}
#u1369 {
  position:absolute;
  left:612px;
  top:9px;
  width:1px;
  height:6px;
}
#u1370 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:5px;
}
#u1371 {
  position:absolute;
  left:609px;
  top:11px;
  width:1px;
  height:4px;
}
#u1372 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:3px;
}
#u1373 {
  position:absolute;
  left:607px;
  top:13px;
  width:1px;
  height:2px;
}
#u1374 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1375 {
  position:absolute;
  left:627px;
  top:2px;
  width:32px;
  height:13px;
  font-size:10px;
}
#u1376 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u1377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u1377 {
  position:absolute;
  left:602px;
  top:18px;
  width:320px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1378 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1379 {
  position:absolute;
  left:612px;
  top:30px;
  width:25px;
  height:25px;
}
#u1380 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u1381 {
  position:absolute;
  left:722px;
  top:33px;
  width:81px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u1382 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u1383 {
  position:absolute;
  left:425px;
  top:337px;
  width:85px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u1384 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u1385 {
  position:absolute;
  left:425px;
  top:311px;
  width:9px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u1386 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  word-wrap:break-word;
}
#u1387 {
  position:absolute;
  left:32px;
  top:382px;
  width:0px;
  height:0px;
  font-size:14px;
  color:#0000FF;
  text-align:left;
}
#u1387_seg0 {
  position:absolute;
  left:-20px;
  top:-66px;
  width:199px;
  height:24px;
  -webkit-transform:rotate(-29deg);
  -moz-transform:rotate(-29deg);
  -ms-transform:rotate(-29deg);
  transform:rotate(-29deg);
}
#u1387_seg1 {
  position:absolute;
  left:162px;
  top:-98px;
  width:238px;
  height:25px;
  -webkit-transform:rotate(8deg);
  -moz-transform:rotate(8deg);
  -ms-transform:rotate(8deg);
  transform:rotate(8deg);
}
#u1388 {
  position:absolute;
  left:117px;
  top:-101px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
