@charset "utf-8";
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
  margin:0;
  padding:0;
}
fieldset, img {
   border:none;
}
i,em,b,strong {
  font-style:normal;
  font-weight:normal;
}
ul, ol {
  list-style:none;
}
body {
  background:#fff;
  font-size: 14px;
  font-family: "微软雅黑";
}
a {
  color:#666;
  text-decoration:none;
}
html,body{
  height: 100%;
}
.clear{clear:both;}
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix{zoom:1; display:inline-block; _height:1px;}
*html .clearfix{height:1%;}
*+html .clearfix{height:1%;}
.clearfix{display:block;}

