body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7516 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u7517 {
  position:absolute;
  left:0px;
  top:90px;
  width:320px;
  height:200px;
  color:#CCCCCC;
}
#u7518 {
  position:absolute;
  left:2px;
  top:92px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u7519 {
  position:absolute;
  left:10px;
  top:100px;
  width:222px;
  height:16px;
  color:#CCCCCC;
}
#u7520 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u7521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u7521 {
  position:absolute;
  left:280px;
  top:270px;
  width:33px;
  height:16px;
  color:#CCCCCC;
}
#u7522 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u7524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7524 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u7525 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u7526 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u7527 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:10px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7528 {
  position:absolute;
  left:294px;
  top:5px;
  width:20px;
  height:10px;
}
#u7529 {
  position:absolute;
  left:2px;
  top:-3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:10px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7530 {
  position:absolute;
  left:294px;
  top:5px;
  width:14px;
  height:10px;
}
#u7531 {
  position:absolute;
  left:2px;
  top:-3px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u7532 {
  position:absolute;
  left:277px;
  top:2px;
  width:27px;
  height:13px;
  font-size:10px;
}
#u7533 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u7534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u7534 {
  position:absolute;
  left:258px;
  top:3px;
  width:13px;
  height:13px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u7535 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u7536 {
  position:absolute;
  left:239px;
  top:3px;
  width:13px;
  height:13px;
}
#u7537 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7538 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u7539 {
  position:absolute;
  left:16px;
  top:5px;
  width:1px;
  height:10px;
}
#u7540 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:9px;
}
#u7541 {
  position:absolute;
  left:13px;
  top:7px;
  width:1px;
  height:8px;
}
#u7542 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:7px;
}
#u7543 {
  position:absolute;
  left:10px;
  top:9px;
  width:1px;
  height:6px;
}
#u7544 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:5px;
}
#u7545 {
  position:absolute;
  left:7px;
  top:11px;
  width:1px;
  height:4px;
}
#u7546 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:3px;
}
#u7547 {
  position:absolute;
  left:5px;
  top:13px;
  width:1px;
  height:2px;
}
#u7548 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7549_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u7549 {
  position:absolute;
  left:25px;
  top:2px;
  width:32px;
  height:13px;
  font-size:10px;
}
#u7550 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u7551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u7551 {
  position:absolute;
  left:0px;
  top:18px;
  width:320px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7552 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u7553 {
  position:absolute;
  left:4px;
  top:29px;
  width:25px;
  height:25px;
}
#u7554 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u7555 {
  position:absolute;
  left:124px;
  top:30px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7556 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7557 {
  position:absolute;
  left:11px;
  top:515px;
  width:300px;
  height:45px;
  font-size:16px;
}
#u7558 {
  position:absolute;
  left:2px;
  top:13px;
  width:296px;
  word-wrap:break-word;
}
#u7559_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.109803921568627);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u7559 {
  position:absolute;
  left:70px;
  top:410px;
  width:180px;
  height:30px;
  font-size:12px;
}
#u7560 {
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
